// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-button {
	margin-bottom: 10px;
}

.btn-cont {
	margin-bottom: 6px;
	margin-top: 6px;
}

.form-cont {
	padding-left: 15px;
	padding-right: 15px;
}

/* font-family: "CenturyGothicRegular"; */
@font-face {
    font-family: "CenturyGothicRegular";
    src: url("/fonts/CenturyGothicRegular/CenturyGothicRegular.eot");
    src: url("/fonts/CenturyGothicRegular/CenturyGothicRegular.eot?#iefix")format("embedded-opentype"),
    url("/fonts/CenturyGothicRegular/CenturyGothicRegular.woff") format("woff"),
    url("/fonts/CenturyGothicRegular/CenturyGothicRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


@font-face {
	font-family: "CenturyGothicBold";
    src: url("/fonts/CenturyGothicBold.ttf");
    font-style: normal;
    font-weight: normal;
}

.navbar{
	font-size: 1em;
  background: #333;
  border-radius: 0;
  border: 0;
  font-weight: normal;
  .navbar-nav>li>a {
    color: #fff;
    &:hover {
        color: lightgrey;
      }
    &:focus {
      color: lightgrey;
    }
    &:active {
      color: lightgrey;
    }
  }
}

#nav-desktop {
  padding-left: 60px;
}

.container-full {
  margin: 0 auto;
  width: 100%;
  padding: 0;
  height: 48px;
}

.container-fluid {
  width: 1024px;
}